@import "tailwindcss";

@theme {
  --color-main: #E4543C;
  --color-black: #2B2B2B;
  --color-white: #FFFCF7;
  --color-lightgrey: #EAEAEA;

  --font-sans: 'Thmanyah Sans', sans-serif;
  --font-serif: 'Thmanyah Serif Display', serif;
}

@font-face {
  font-family: 'Thmanyah Sans';
  src: url('/fonts/ThmanyahSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah Sans';
  src: url('/fonts/ThmanyahSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah Sans';
  src: url('/fonts/ThmanyahSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thmanyah Serif Display';
  src: url('/fonts/ThmanyahSerifDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: #FFFCF7;
    color: #2B2B2B;
    font-family: 'Thmanyah Sans', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
  }
}